<%= form_for(@secret_code) do |f| %>
  <% if @secret_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@secret_code.errors.count, "error") %> prohibited this secret_code from being saved:</h2>

      <ul>
      <% @secret_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%=f.label :secret_code%>
    <%=f.text_field :secret_code%>

    <%= select_tag :number,options_for_select([1,10,20,30,40,50,100],:selected =>10) %>
    <%= f.submit %>
 </div>
<% end %>

